<div class="container mt-4">
    <div class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="userProfileHeader">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#userProfile" aria-expanded="false" aria-controls="userProfile">
                    Профиль пользователя
                </button>
            </h2>
            <div id="userProfile" class="accordion-collapse collapse" aria-labelledby="userProfileHeader" data-bs-parent=".accordion">
                <div class="accordion-body p-4">
                    <form th:action="@{/profile}" th:object="${updatedUser}" method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label">Имя пользователя</label>
                            <input type="text" class="form-control" id="username" name="username" th:value="${username}">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Пароль</label>
                            <input type="password" class="form-control" id="password" name="password" th:value="${password}">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="role" name="role" th:value="${role}" readonly>
                        </div>
                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:if="${#authentication.getPrincipal().getRole() == 'ADMIN'}">
    <div class="container mt-4">
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="addUserHeader">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#addUserForm" aria-expanded="false" aria-controls="addUserForm">
                        Добавить пользователя
                    </button>
                </h2>
                <div id="addUserForm" class="accordion-collapse collapse" aria-labelledby="addUserHeader" data-bs-parent=".accordion">
                    <div class="accordion-body">
                        <div th:if="${#authentication.getPrincipal().getRole() == 'ADMIN'}">
                            <form th:action="@{/profile/add}" th:object="${adddUser}" method="post">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Имя пользователя</label>
                                    <input type="text" class="form-control" id="username" name="username" th:value="${username}">
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Пароль</label>
                                    <input type="password" class="form-control" id="password" name="password" th:value="${password}">
                                </div>
                                <div class="mb-3">
                                    <label for="role" class="form-label">Роль</label>
                                    <select class="form-control" id="role" name="role">
                                        <option value="ADMIN">Администратор</option>
                                        <option value="USER">Пользователь</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Создать пользователя</button>
                            </form>
                        </div>
                        <div th:if="${#authentication.getPrincipal().getRole() != 'ADMIN'}">
                            <p>У вас нет прав для добавления пользователей.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="userListHeader">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#userList" aria-expanded="false" aria-controls="userList">
                        Удалить пользователей
                    </button>
                </h2>
                <div id="userList" class="accordion-collapse collapse" aria-labelledby="userListHeader" data-bs-parent=".accordion">
                    <div class="accordion-body p-4">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Имя пользователя</th>
                                <th scope="col">Роль</th>
                                <th scope="col">Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.role}"></td>
                                <td>
                                    <div th:if="${user.role == 'USER'}">
                                        <form th:action="@{/profile/delete/{id}(id=${user.id})}" method="post">
                                            <button type="submit" class="btn btn-danger">Удалить</button>
                                        </form>
                                    </div>
                                    <div th:if="${user.role == 'ADMIN' and #authentication.getPrincipal().getUsername() == 'super_admin'}">
                                        <form th:action="@{/profile/delete/{id}(id=${user.id})}" method="post">
                                            <button type="submit" class="btn btn-danger">Удалить</button>
                                        </form>
                                    </div>
                                    <div th:if="${user.role == 'ADMIN' and #authentication.getPrincipal().getUsername() != 'super_admin'}">
                                        <p>У вас нет прав для удаления администраторов.</p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


