<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" /> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title}">Приют для животных</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fyg5KXQ8J0MQPi+2I010rx2h5KGfLAYuklRUrN" crossorigin="anonymous">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/XpG5tMQLwPNIcEa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <script>
       function fetchRandomAnimal() {
            fetch('/api/randomAnimal')
                .then(response => response.json())
                .then(data => {
                    const animal = data.name;
                    const imageUrls = data.imageUrls;
                    const daysInShelter = data.daysInShelter;

                    document.getElementById("animalName").textContent = animal;

                    document.getElementById("daysInShelterValue").textContent = daysInShelter;

                    const carouselInner = document.getElementById("carousel-inner");
                    carouselInner.innerHTML = ''; // Clear previous images
                    imageUrls.forEach((imageUrl, index) => {
                        const carouselItem = document.createElement("div");
                        carouselItem.className = "carousel-item" + (index === 0 ? " active" : "");

                        const carouselImage = document.createElement("img");
                        carouselImage.src = imageUrl;
                        carouselImage.className = "d-block w-100";
                        carouselItem.appendChild(carouselImage);

                        carouselInner.appendChild(carouselItem);
                    });

                    const randomAnimalCarousel = document.getElementById("randomAnimalCarousel");
                    if (imageUrls.length > 1) {
                        randomAnimalCarousel.setAttribute("data-bs-ride", "carousel");
                    } else {
                        randomAnimalCarousel.removeAttribute("data-bs-ride");
                    }
                });
        }
        document.addEventListener("DOMContentLoaded", function() {
            fetchRandomAnimal();
            setInterval(fetchRandomAnimal, 10000); // Fetch a new random animal every 10 seconds
        });
    </script>
</head>

<body>
<div th:replace="navbar :: navbar"></div>
<div th:replace="navbar :: navbar-bottom"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
<div class="mt-3 text-center" th:utext="#{home.text}"></div> <!-- Измените этот элемент -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="content-wrapper">
        <div class="image-container left-image"> <!-- Левая картинка -->
            <img src="/img/nobgcat.png" alt="Left Image">
        </div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="mt-3 text-center" id="animalName"></h1>
                    <div id="randomAnimalCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" id="carousel-inner">
                            <!-- Фотографии будут вставлены сюда с помощью JavaScript -->
                        </div>
                    </div>
                    <div class="text-center">
                        <h4><span th:text="#{menu.card}"></span></h4>
                        <span th:text="#{menu.card.time}"></span>
                        <span id="daysInShelterValue"></span>
                        <span th:text="#{menu.card.days}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="image-container right-image"> <!-- Правая картинка -->
            <img src="/img/nobgdog.png" alt="Right Image">
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
